<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<!--
		This is used as extra source. Here is an example:
			<add key="KIT" value="https://pkgs.dev.azure.com/postat/_packaging/KIT/nuget/v3/index.json" />
		-->
	</packageSources>
</configuration>